@charset "UTF-8 ";
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #88D69A;
    margin: 0px;
}
p{
    text-align: left;
}

header{
    text-align: center;
    color: white;
    background-image: linear-gradient(to top,#00330C, #0B551D, #26803B, #51AD66, #88D69A);
    padding-top: 10px;
    padding-bottom: 15px;
}
header a{
    color: white;
    padding-left: 20px;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
}
header a:hover{
    text-decoration: underline;
}
main{
    background-color: aliceblue;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 250px;
    margin-right: 250px;
    box-shadow: 1px 1px 1px black;
    border-radius: 0px 0px 10px 10px;
}
main h1, h2{
    text-align: left;
    color: #0B551D;
    font-family: 'idroid';
}
h2{
    background-color: #51ad6682;
}
#video{
    background-color: #26803B;
    padding: 20px;
    border: 10px solid #26803B;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
}
aside{
    background-color: #88D69A;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 1px;
    box-shadow: 1px 1px 1px black;
}
aside h4{
    background-color: #26803B;
    color: white;
    text-align: left;
    text-indent: 20px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px 10px 0px 0px
}
aside p{
    padding: 10px;
}

a{  
    color: #26803B;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;    
}
footer{
    background-color: #00330C;
    color: white;
}
footer p{
    font-size: 10px;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    text-decoration: underline;
}